.titleText {
    text-align: center;
}

.btnRight {
    float: right;
}

.btnLeft {
    float: left;
}

.textColor {
    color: black;
    font-weight: bold;
    font-size: large;
}

.reset {
    display: block;
    margin-left: auto;
    margin-right: auto;
}