.titleText {
    text-align: center;
}

.counter {
    color: rgb(73, 73, 172);
    font-weight: bold;
}

// centering the start button
.startBtn {
    height: 50vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.headCenter {
    justify-content: center;
    align-items: center;
}

// reset and restart button
.reset_restart {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

//background vid
#vid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

// ion-content {
//     --background: url('/assets/images/image4.jpg') no-repeat 100% 100%;
// }