<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="titleText">
            Quick Quiz
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <video autoplay muted loop id="vid">
                <source src="/assets/vids/home2.mp4" type="video/mp4">
    </video>
    <hr>

    <div class="startBtn">
        <ion-row center>
            <ion-col text-center>
                <ion-button float-left color="primary" (click)="category1()" class="center">Films</ion-button>
            </ion-col>
        </ion-row>
        <ion-row center>
            <ion-col text-center>
                <ion-button float-center color="primary" (click)="category2()" class="center">Mythology</ion-button>
            </ion-col>
        </ion-row>
        <ion-row center>
            <ion-col text-center>
                <ion-button float-right color="primary" (click)="category3()" class="center">Comics</ion-button>
            </ion-col>
        </ion-row>
    </div>

</ion-content>